#H_1{
    animation: 0.5s H both;
}
#H_2{
    animation: 0.5s H both;
    display: none;
}

#P_1{
    animation: 0.5s H both;
}
#P_2{
    display: none;
    animation: 0.5s H both;
}

#H_3{
    animation: 0.5s H both;
}
#H_4{
    display: none;
    animation: 0.5s H both;
}

#H_5{
    animation: 0.5s H both;
}
#H_6{
    display: none;
    animation: 0.5s H both;
}


#Image1{
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1520955892981-85a5a3b0f32f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    width: 100%;
    height: 118vh;
    background-position: center;
    background-size: cover;
    animation: 1s H both;
}
#Image2{
    position: absolute;
   display: none;
    width: 100%;
    height: 118vh;
    background-image: url(https://images.unsplash.com/photo-1569449047196-cebeecbc6b6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: 1s H both;
}




@keyframes H {
    0%{
        opacity: 0;
        transform: translateY(-40px);
        filter: blur(5px);
              
    }
    
    

    
    
    
}

.H2{
 
    animation: HH 0.8s both;
}

@keyframes HH {
    
    0%{
        filter: blur(2px);
        opacity: 0;
        transform: translateY(-30px);
    }
    
    
}

.F_Show{
    animation: F1 1s both;
}

@keyframes F1 {
    0%{
        opacity: 0;
        /* transform: translateY(-90px); */
    }
    
}