html{
    font-size: 50%;
}

.contentF2 p {
    font-size: 1.6rem;
    font-weight: normal;
}

.content_Map h2 {
    font-size: 1.4rem;
    width: 81%;
}
#Content_m{
    width: 74%;
    height: 43vh;
}
.content_Map span {
    font-size: 1.3rem;
}
.cirleM {
    line-height: 2rem;
    font-size: 1.3rem;
}
.Map h3 {
    font-size: 1.9rem;  
}

#C{
    height: 6vh;
}

.cirle {
    width: 1.9vw;
    height: 3.1vh;
    border-radius: 20rem;
    background-color: transparent;
    border: 1px solid #bbb;
    color: #bbb;
    text-align: center;
    line-height: 1.3rem;
    transition: 0.3s;
    font-size: 0.8rem;
    cursor: pointer;
}
